/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define QWERTY  1
#define GAME	2
#define LOWER   3
#define RAISE   4
#define ADJUST	5

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
/* 
 * Base Layer: DVORAK
 *
 * ,----------------------------------------------.               									               ,-------------------------------------------.
 * |  RAIS/ESC | , <  | . >  |   P  |   Y  |   F  |               									               |   G  |   C  |   R  |   L  | BKSP |  | \   |
 * |-----------+------+------+------+------+------|               									               |------+------+------+------+------+--------|
 * |LShift/caps|   A  |   O  |  E   |   U  |   I  |               									               |   D  |   H  |   T  |   N  |   S  |  ' "   |
 * |-----------+------+------+------+------+------+-------------. 									 ,-------------+------+------+------+------+------+--------|
 * |  Ctrl/BS  |   ;  |   Q  |   J  |   K  |   X  |DVORAK|QWERTY| 									 | GAME |ADJUST|   B  |   M  |  W   |   V  |   Z  |  - _   |
 * `-------------------------+------+------+------+------+------| 									 |------+------+------+------+------+----------------------'
 *         	                 | GUI  | Del  | Enter| Space| Esc  | 									 | Enter| Space| Tab  |  bsp | AltGr|
 *         	                 |      |      | Alt  | Lower| Raise| 									 | Lower| Raise|      |      |      |
 *         	                 `----------------------------------' 									 `----------------------------------'
 */
			bindings = <
	&kp ESC   		&kp COMMA	&kp DOT	 &kp P 		&kp Y 	&kp F                                                				     &kp G 	  &kp C		&kp R 	 &kp L 	&kp BSPC	&kp BSLH
	&mt CAPS LSHFT  &kp A 		&kp O    &kp D 		&kp U 	&kp I                                                				     &kp D 	  &kp H		&kp T 	 &kp N 	&kp S   	&kp SQT
	&mt LCTL BSPC	&kp SEMI	&kp Q    &kp J 		&kp K 	&kp X 		 &tog DEFAULT 	 &tog QWERTY 	&tog GAME  	  &tog ADJUST 	 &kp B 	  &kp M		&kp W 	 &kp V 	&kp Z   	&kp MINUS
	                 					 &kp LGUI   &kp DEL &mt LALT RET &lt LOWER SPACE &lt RAISE ESC &lt LOWER RET  &lt RAIS SPACE &kp TAB  &kp BSPC  &kp RALT
			>;
 
			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};
		qwerty_layer {
/* 
 * Base Layer: QWERTY
 *
 * ,-------------------------------------------.                              ,-------------------------------------------.
 * |RAIS/ESC|   Q  |   W  |   E  |   R  |   T  |                              |   Y  |   U  |   I  |   O  |   P  |  | \   |
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
 * | LShift |   A  |   S  |  D   |   F  |   G  |                              |   H  |   J  |   K  |   L  | ;  : |  ' "   |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
 * | Ctrl/BS|   Z  |   X  |   C  |   V  |   B  |DVORAK|QWERTY|  | GAME |ADJUST|   N  |   M  | ,  < | . >  | /  ? |  - _   |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
 *                        | GUI  | Del  | Enter| Space| Esc  |  | Enter| Space| Tab  | Bksp | AltGr|
 *                        |      |      | Alt  | Lower| Raise|  | Lower| Raise|      |      |      |
 *                        `----------------------------------'  `----------------------------------'
 */			
			bindings = <
	&kp ESC   		&kp Q	&kp W	 &kp E 		&kp R 		 &kp T                                                				 	 &kp Y 	  	&kp U		&kp I 	  &kp O 	&kp P		&kp BSPC
	&mt CAPS LSHFT  &kp A 	&kp S    &kp D 		&kp F 		 &kp G                                                				 	 &kp H 	  	&kp J		&kp K 	  &kp L 	&kp SEMI   	&kp SQT
	&mt LCTL BSPC	&kp Z 	&kp X    &kp C 		&kp V 		 &kp B 	 	  &tog DEFAULT    &tog QWERTY   &tog GAME  	   &tog ADJUST 	 &kp N 	  	&kp M		&kp COMMA &kp DOT 	&kp FSLH   	&kp MINUS
	                 				 &kp LGUI   &kp DEL 	 &mt LALT RET &lt LOWER SPACE &lt RAISE ESC &lt LOWER RET  &lt RAIS SPACE &kp TAB  	&kp BSPC  	&kp RALT
	        >;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};

		game_layer {
		/* 
 * Base Layer: GAME
 *
 * ,-------------------------------------------.                              ,-------------------------------------------.
 * |RAIS/ESC|   Q  |   W  |   E  |   R  |   T  |                              |      |      |insert| home | pgup |printscreen|
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
 * | LShift |   A  |   S  |  D   |   F  |   G  |                              |      |   ^  |delete|  end | pgdn |  Plus  |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
 * | Ctrl/BS|   Z  |   X  |   C  |   V  |   B  |DVORAK|QWERTY|  | GAME |ADJUST| <--  |   v  | -->  |      |      | Minus  |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
 *                        | GUI  | Tab  | Enter| Space| Esc  |  | Enter| Space| Tab  | Bksp | AltGr|
 *                        |      |      | Alt  | Lower| Raise|  | Lower| Raise|      |      |      |
 *                        `----------------------------------'  `----------------------------------'
 */
						bindings = <
	&kp ESC   		&kp Q	&kp W	 &kp E 		&kp R 		&kp T                                                				    &none	  &kp none  &kp INS    &kp HOME  &kp PG_UP	&kp PSCRN
	&mt CAPS LSHFT  &kp A 	&kp S    &kp D 		&kp F 		&kp G                                                				    &none 	  &kp UP    &kp DEL    &kp END	 &kp PG_DN 	&kp SQT
	&mt LCTL BSPC	&kp Z 	&kp X    &kp C 		&kp V 		&kp B 		 &tog DEFAULT    &tog QWERTY   &tog GAME  	 &tog ADJUST 	&kp LEFT  &kp DOWN  &kp RIGHT  &none 	 &none   	&kp MINUS
	        	                 	 &kp LGUI   &kp DEL 	&mt LALT RET &lt LOWER SPACE &lt RAISE ESC &lt LOWER RET &lt RAIS SPACE &kp TAB   &kp BSPC  &kp RALT
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};

		lower_layer {
/* 
 * Lower Layer: Symbols
 *
 * ,-------------------------------------------.                              ,-------------------------------------------.
 * |        |  !   |  @   |  {   |  }   |  |   |                              |      |      |      |      |      |  | \   |
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
 * |        |  #   |  $   |  (   |  )   |  `   |                              |   +  |  -   |  /   |  *   |  %   |  ' "   |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
 * |        |  %   |  ^   |  [   |  ]   |  ~   |DVORAK|QWERTY|  | GAME |ADJUST|   &  |  =   |  ,   |  .   |    ? | - _    |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
 *                        | GUI  | Tab  | Enter| Space| Esc  |  | 	=  |   ;  | Tab  | Bksp | AltGr|
 *                        |      |      | Alt  | Lower| Raise|  | Lower| Raise|      |      |      |
 *                        `----------------------------------'  `----------------------------------'
 */
						bindings = <
	&none  &kp EXCL	 &kp AT	   &kp LBRC	&kp RBRC 	&kp PIPE2                                              					   &none	  	&kp none     &none    		&none  	 		 &none		&kp BSLH
	&none  &kp HASH  &kp DLLR  &kp LPAR	&kp RPAR	&kp GRAVE                                              					   &kp KP_PLUS  &kp KP_MINUS &kp KP_SLASH 	&kp KP_ASTERISK	 &kp PRCNT 	&kp SQT
	&none  &kp PRCNT &kp CARET &kp LBKT	&kp RBKT	&kp TILDE 	 &tog DEFAULT  	  &tog QWERTY   &tog GAME  	    &tog ADJUST    &kp AMPS  	&kp EQUAL  	 &kp COMMA  	&kp DOT 	 	 &kp QMARK  &kp MINUS
	        	     		   &kp LGUI &kp DEL 	&mt LALT RET &lt LOWER SPACE  &lt RAISE ESC &lt LOWER EQUAL &lt RAIS SEMI  &kp TAB		&kp BSPC  	 &kp RALT
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};

		raise_layer {
/*
 * Raise Layer: Number keys, media, navigation
 *
 * ,-------------------------------------------.                              ,-------------------------------------------.
 * |        |   1  |  2   |  3   |  4   |  5   |                              |  6   |  7   |  8   |  9   |  0   |        |
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
 * |        |      | Prev | Play | Next | VolUp|                              | Left | Down | Up   | Right|      |        |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
 * |        |      |      |      | Mute | VolDn|DVORAK|QWERTY|  | GAME |ADJUST| MLeft| Mdown| MUp  |MRight|      |        |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
 *                        |      |      |      | Space| Esc  |  | 	=  |   ;  |      |      |      |
 *                        |      |      |      | Lower| Raise|  | Lower| Raise|      |      |      |
 *                        `----------------------------------'  `----------------------------------'
 */
			bindings = <
	&none  &kp N1	 &kp N2	    &kp N3		&kp N4 		&kp N5                                              					    &kp N6		&kp N7     	&kp N8  &kp N9 	 	&kp N0		&none
	&none  &none	 &kp C_PREV &kp C_PLAY	&kp C_NEXT	&kp C_VOL_UP                                              					&kp LEFT  	&kp DOWN	&kp UP	&kp RIGHT	&none	 	&none
	&none  &none	 &none		&none		&kp C_MUTE	&kp C_VOL_DN &tog DEFAULT  	  &tog QWERTY   &tog GAME  	    &tog ADJUST     &none	  	&none	  	&none	&none 	 	&none   	&none
	        	     		    &none	  	&none	 	&none		 &lt LOWER SPACE  &lt RAISE ESC &lt LOWER EQUAL &lt RAIS SEMI   &none		&none	  	&none
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		adjust_layer {
/*
 * Adjust Layer: Function keys, RGB
 *
 * ,-------------------------------------------.                              ,-------------------------------------------.
 * |   PWR  | F1   |  F2  | F3   | F4   | F5   |                              | F6   | F7   |  F8  | F9   | F10  |        |
 * |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
 * |   TOG  | SAI  | HUI  | VAI  | MOD  |      |							  |      |      |      | F11  | F12  |        |
 * |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
 * |  LCTL  | SAD  | HUD  | VAD  | RMOD |      |      |      |  |      |      |      |      |      |      |      |        |
 * `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
 *                        |      |      |      |      |      |  |      |      |      |      |      |
 *                        |      |      |      |      |      |  |      |      |      |      |      |
 *                        `----------------------------------'  `----------------------------------'
 */
 			bindings = <
	&kp C_PWR 		&kp F1			&kp F2	    	&kp F3			&kp F4 			&kp F5																		&kp F6	 &kp F7     &kp F8  &kp F9 	&kp F10		&none
	&rgb_ug RGB_TOG	&rgb_ug RGB_SAI &rgb_ug RGB_HUI	&rgb_ug RGB_BRI	&rgb_ug RGB_SPI &rgb_ug RGB_EFF																&kp LEFT &kp DOWN	&kp UP	&kp F11	&kp F12	 	&none
	&kp LCTL 		&rgb_ug	RGB_SAD	&rgb_ug	RGB_HUD	&rgb_ug RGB_BRD	&rgb_ug RGB_SPD &rgb_ug RGB_EFR &tog QWERTY     &tog GAME     &tog ADJUST     &none 		&none	 &none		&none	&none   &none		&none
	        	     		    					&none	  		&none	 		&none		    &lt LOWER SPACE &lt RAISE ESC &lt LOWER EQUAL &lt RAIS SEMI &none 	 &none	  	&none
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};

	};
};
